GOOGLE_MAPS_API_KEY=AIzaSyA4WsA4gq2jAA64xe82YjAhuf5-XtcvjXg
GOOGLE_PLACES_API_KEY=AIzaSyA4WsA4gq2jAA64xe82YjAhuf5-XtcvjXg
API_BASE_URL=http://10.191.92.83:8000/api/user
SOCKET_URL=ws://10.191.92.83:9502

